/* =========================
   ABOUT
========================= */

.about-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:50px;
  align-items:center;
}

.about-image img{
  height:450px;
  object-fit:cover;
  border-radius:20px;
}

.about-text h3{
  font-size:36px;
  margin-bottom:25px;
  font-weight: normal;
}

.about-text p{
  color:#666;
  line-height:1.9;
  margin-bottom:20px;
}

/* Responsive - About */
@media(max-width:768px){
  .about-grid{
    grid-template-columns:1fr;
  }
}
